nav(class='navbar navbar-expand-lg bg-body-secondary' data-bs-theme='dark')
	div(class='container-fluid')
		div(class='collapse navbar-collapse' id=navbarNav)
			ul(class='navbar-nav')
				li(class='nav-item')
					a(class='nav-link' href='/') Articles
				if user
					li(class='nav-item')
						a(class='nav-link' href='/admin/article') Admin panel	
					li(class='nav-item')
						a(class='nav-link' href='/logout') Logout
				else
					li(class='nav-item')
						a(class='nav-link' href='/login') Login