doctype html
head
	include includes/bootstrap
body(class='bg-body-secondary')
	div(class='container')
		h1(class='display-1 text-center')= article.title
		each element in article.content
			div(class='row')
				div(class='col')
				div(class='col-6')
					case element.type
						when 'paragraf'
							p(class='fs-5')= element.text
						when 'code'
							pre(class='text-bg-dark fs-5 font-monospace')= element.text
				div(class='col')
						