head
	head
		include includes/bootstrap
		title Mandatory I

	body(class='bg-body-secondary')
		header
			include includes/navbar
		block content
		block scripts
		footer(class='bg-body-secondary')
			p David Borja-Jakobsen - kea dat21 4 semester
